.App {
  font-family: sans-serif;
  text-align: center;
}

.carousel-container {
  width: 80%;
  margin: 0 auto;
}

/* メディアクエリの追加 */
/* @media (max-width: 768px) {
  .carousel-container {
    width: 95%;
  }

  .carousel-slide {
    height: 120px;
    font-size: 1.2rem;
  }
} */

.embla {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.embla__container {
  display: flex;
  height: 150px; /* 固定の高さを設定 */
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
  height: 100%; /* コンテナの高さに合わせる */
}

.embla__slide img {
  width: 100%;
  height: 100%; /* スライドの高さいっぱいに */
  object-fit: cover; /* アスペクト比を保ちながら、領域いっぱいに表示 */
}

.embla__prev,
.embla__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
  border-radius: 4px;
}

.embla__prev {
  left: 10px;
}

.embla__next {
  right: 10px;
}
